.chat-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 9999;
  }
  
  .chat-header {
    position:fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    z-index: 9999;
    padding: 10px;
  }

  .chat-header-inside {
    bottom: 20px;
    right: 20px;
    width: 300px;
    /* height: 400px; */
    border: 1px solid #ccc;
    /* background-color: #fff; */
    z-index: 9999;
    padding: 10px;
  }

  .chatter-popup {
    position: fixed;
    bottom: 20px;
    right: 340px;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 9999;
  }

  .chatter-header-inside {
    bottom: 20px;
    right: 50px;
    width: 300px;
    height: 45px;
    border: 1px solid #ccc;
    /* background-color: #fff; */
    z-index: 9999;
    padding: 10px;
    border-radius: 5px;
  }

  .chat-body {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
  }

  .chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
  }